AZURE_ORGANIZATION_URL=https://dev.azure.com/tu-organizacion
AZURE_PROJECT_NAME=TuProyecto
AZURE_PERSONAL_ACCESS_TOKEN=tu_pat

# Nombre del backlog/team a visualizar al abrir la app
AZURE_BACKLOG_NAME=do-arquit_gobierno-transformacion_y_modernizacion_arquitectura

# Lista de IDs de work item tipo Proyecto a usar como raiz
AZURE_ROOT_PROYECTOS=1101182,1000656,1000263,1141112

# Opcional: prefijo para filtrar AreaPath (ej: Gerencia_Tecnologia)
AZURE_AREA_PATH_PREFIX=Gerencia_Tecnologia
